$accent: #a3bbc8;
$defolt: #243f4d;
$title: #191919;
$bg: #fef7f0;

%dmsans-400{
  font-family: 'DMSans-Regular';
  font-weight: 400;
}

%dmsans-500 {
  font-family: 'DMSans-Medium';
  font-weight: 500;
}

%dmsans-700 {
  font-family: 'DMSans-Bold';
  font-weight: 700;
}

%poppins-400 {
  font-family: 'Poppins-Regular';
  font-weight: 400;
}

%poppins-700 {
  font-family: 'Poppins-Bold';
  font-weight: 700;
}

%rubik-400 {
  font-family: 'Rubik-Regular';
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik-Medium';
  font-weight: 500;
}

@function max($numbers...) {
 @return m#{a}X(#{$numbers});
}
@function min($numbers...) {
 @return m#{i}n(#{$numbers});
}

.header--404-page{
  background-color: $bg;
}
