@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding: 40px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  display: flex;
  align-items: center;
  font-size: 16px;

  &__img-title {
    padding-left: 20px;
    @extend %rubik-500;
    font-size: 36px;
    font-weight: 58px;
    color: #436372;
  }
}

.menu {
  &__list {
    display: flex;
    align-items: center;
  }

  &__list-item+.menu__list-item {
    padding-left: 35px;
  }

  &__list-link {
    color: #436372;
    padding: 0 2px 1px;
    transition: all .3s;
    @extend %rubik-500;

    &:hover {
      color: $accent;
      font-size: 18px;
      border-bottom: 1px solid $accent;
    }
  }

  &__menu__list-link--active {
    color: $accent;
  }
}

.user-nav {

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__sourch {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #edf1f4;
    border-radius: 50%;
  }

  &__link-sourch {
    position: absolute;
    left: 17px;
    top: 17px;
  }

  &__info {
    position: relative;
    width: 180px;
    height: 50px;
    background-color: #fcd7b6;
    border-radius: 50px;
    margin: 0 20px;
    display: flex;
  }

  &__link-hearth {
    position: relative;
    margin: 15px auto;
    top: 2px;
  }

  &__link-hearth::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 32px;
    background-color: #fde7d3;
    right: -40px;
    transform: translateY(-23px);
  }


  &__link-cart {
    position: relative;
    margin: 15px auto;
    top: 2px;
  }

  &__num {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: white;
    top: -9px;
    right: -9px;
    font-size: 10px;
    color: $defolt;
    text-align: center;
    line-height: 18px;
  }

  &__link-button {
    display: inline-block;
    align-items: center;
  }

}

.footer {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.footer-top {
  padding: 75px 0 70px;
  border-bottom: 1px solid #dae4e9;
  display: flex;

  &__contact {
    margin-right: 100px;
  }

  &__nav {
    width: 170px;
    margin-right: 130px;
  }

  &__item-form {
    width: 300px;
  }

  &__logo {
    width: 220px;
    margin-bottom: 25px;
  }

  &__adress,
  &__phone,
  &__email {
    display: block;
    line-height: 24px;
    margin-bottom: 10px;
    @extend %rubik-400;
    font-size: 14px;
    color: #7b7b7b;
  }

  &__title {
    margin-bottom: 5px;
    @extend %dmsans-700;
    color: #1f2044;
    font-size: 16px;
    line-height: 55px;
    text-transform: uppercase;
  }

  &__link {
    line-height: 32px;
  }

  &__text {
    font-size: 14px;
    line-height: 24px;
    @extend %rubik-400;
    margin-bottom: 35px;
    margin-top: 10px;
  }

  &__form {
    display: flex;
  }

  &__form-input {
    background-color: $bg;
    max-width: 170px;
    width: 100%;
    border: none;
    padding: 12px 10px 12px 15px;

    &::placeholder {
      @extend %dmsans-400;
      font-size: 12px;
      color: #234969;
    }
  }

  &__form-btn {
    background-color: $accent;
    border: none;
    color: #000;
    @extend %dmsans-400;
    font-size: 14px;
    padding: 12px 18px 14px 16px;
    cursor: pointer;
  }
}

.footer-bootom {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &__copy {
    margin: 35px 10px;
    font-size: 14px;
    line-height: 32px;
    @extend %rubik-400;
  }

  &__list {
    display: flex;
  }

  &__link+.footer-bootom__link {
    margin-left: 20px;
  }

  .footer-bootom__link--line {
    border-left: 1px solid #7b7b7b;
    padding-left: 23px;
  }
}

.top{
  &__container{
    max-width: 1920px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 30px 0 35px;
    text-align: center;
  }
  &__title{
    @extend %rubik-500;
    font-size: 32px;
    line-height: 24px;
    color: #222933;
    margin-bottom: 16px;
}
}

.top-slider {
  background-color: #fcd7b6;
  padding-top: 85px;
  height: 800px;

  &__item {
    display: flex;
    justify-content: space-between;
    max-height: 800px;
  }

  &__content {
    padding-left: 220px;
    padding-top: 110px;
  }

  &__title {
    max-width: 420px;
    font-size: 72px;
    line-height: 70px;
    margin-bottom: 40px;
    color: $defolt;
    @extend %rubik-500;
  }

  &__text {
    max-width: 315px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 40px;
    @extend %rubik-400;
    color: #436372;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: $accent;
    font-size: 15px;
    line-height: 12px;
    color: #fff;
    @extend %rubik-500;
    padding: 21px 20px 22px;
    width: 200px;
    height: 60px;

    &__button-img {
      width: 24px;
    }
  }

  &__item {
    display: flex !important;
    justify-content: space-between;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    li {
      padding: 0 5px;

      button {
        padding: 0;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        background-color: #fde3cc;
        @extend %rubik-500;
        font-size: 11px;
        line-height: 9px;
        color: $defolt;
      }

      &.slick-active {
        button {
          background-color: #fff;
          border-radius: 50%;
        }

      }
    }
  }
}

.info {
  background-color: $bg;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 40px 145px 45px;
  }
}

.product {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 70px 0 80px;

  &__title {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    color: $title;
    @extend %dmsans-700;
    font-size: 36px;
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item-menu {
    margin-bottom: 70px;
  }

  &__item-menu--link {
    padding: 0 15px;
    @extend %dmsans-700;
    font-size: 16px;
    color: #8b8b8b;

    &:hover {
      color: $title;
    }
  }
}

.product__cards {
  max-width: 1200px;
  width: 100%;

  padding: 0 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  min-height: 800px;
}

.product-card {
  max-width: 270px;
  text-align: center;

  &__img-box {
    position: relative;
    height: 380px;
    overflow: hidden;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  }

  &__link-box {
    position: absolute;
    bottom: 120px;
    display: flex;
    right: 30px;
    transition: all .3s;
  }

  &__link {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #fefefe;
    left: -13px;
    cursor: pointer;
    transform: translateY(350%);

    &:hover {
      background-color: #a3bac7;
    }
  }

  &__link--icon {
    position: relative;
    top: 16px;
    color: #a3bac7;
  }

  &:hover {
    path {
      fill: #fff;
    }
  }

  &__link+.product-card__link {
    margin-left: 15px;
  }

  &__images {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 130px;

  }

  &:hover {
    .product-card__link {
      transform: translateY(0);
    }
  }

  &__subtitle {
    margin: 275px 0 -15px;
    @extend %dmsans-500;
    font-size: 16px;
    line-height: 40px;
    color: $defolt;
    font-weight: bold;
  }

  &__price {
    margin-bottom: 35px;
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 40px;
    color: $accent;
    font-weight: bold;
  }
}

.promo {
  padding: 80px 0 50px;

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  &__item-left {
    height: 390px;
    background-color: #feefe2;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__image-small {
    margin-bottom: 80px;
    margin-left: 40px;
  }

  &__item-info--left {
    width: 370px;
    padding-left: 30px;
  }

  &__item-right {
    height: 390px;
    background-color: #feefe2;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__image-big {
    margin-bottom: 80px;
    padding-left: 50px;

  }

  &__item-info--right {
    width: 370px;
    padding-left: 30px;
  }


  &__item-title {
    width: 270px;
    @extend %dmsans-700;
    font-size: 26px;
    line-height: 32px;
    font-weight: bold;
    color: $defolt;

  }

  &__item-text {
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: #636d72;
    font-weight: bold;
    margin-bottom: 40px;
  }

  &__item-btn {
    display: block;
    width: 180px;
    height: 60px;
    border: 1px solid #b3b7b5;
    border-radius: 5px;
    padding: 22px 40px 24px 20px;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    font-weight: bold;
    color: #436372;
    cursor: pointer;
  }

  &__item-button--icon {
    margin: -10px 0 0 110px
  }
}

.design {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 0 80px;

  &__title {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    color: $title;
    @extend %dmsans-700;
    font-size: 36px;
    font-weight: bold;
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item-menu {
    margin-bottom: 70px;
  }

  &__item-menu--link {
    padding: 0 15px;
    @extend %dmsans-700;
    font-size: 16px;
    color: #8b8b8b;

    &:hover {
      color: $title;
    }
  }
}

.design-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 35px;

  &__images-box {
    position: relative;
    height: 245px;
  }

  &__subtitle {
    position: absolute;
    width: 175px;
    top: 40px;
    left: 35px;
    margin-bottom: 18px;
    @extend %dmsans-700;
    font-size: 20px;
    color: $title;
    font-weight: bold;

  }

  &__text {
    position: absolute;
    top: 95px;
    left: 35px;
    @extend %dmsans-700;
    font-size: 16px;
    color: $accent;
  }
}

.video-tur {
  &__popup {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    max-width: 1920px;
    width: 100%;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
  }
}

.container-blog {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.blog {
  padding-top: 70px;
  margin: 0 auto;

  &__header {

    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__header-title {
    color: $title;
    @extend %dmsans-700;
    font-size: 36px;
  }

  &__header-subtitle {
    display: flex;
    color: #262626;
    @extend %dmsans-700;
    font-size: 16px;
    
  }

  &__header-imgsubtitle{
    width: 10px;
    height: 15px;
    margin-left: 10px;
  }


  &__items {
    width: 1200px;
    display: flex;
    position: absolute;
  }

  &__item {
    max-width: 370px;
    width: 100%;
    height: 425px;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    position: relative;
  }

  &__item-btnlink {
    position: absolute;
    margin-top: 233px;
    margin-left: 30px;
    width: 105px;
    height: 30px;
    text-align: center;
    padding-top: 3px;
    border: none;
    color: #fff;
    @extend %poppins-700;
    font-size: 14px;
    background-color: $accent;
    border-radius: 25px;
  }

  &__item-textlink {
    width: 265px;
    margin-top: 25px;
    margin-left: 30px;
    padding-bottom: 20px;
    @extend %dmsans-500;
    font-size: 18px;
    color: #262626;
    border-bottom: 2px solid #e0e0e0;
  }

  &__item-info {
    display: flex;
    margin-top: 20px;
    margin-left: 35px;
  }

  &__item-date,
  &__item-author {
    padding-right: 45px;
    @extend %rubik-400;
    font-size: 12px;
    line-height: 30px;
    color: #222933;
  }

  .partners {
    background-color: #fef7f0;
    margin-top: 300px;
    padding-top: 200px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 435px;
    z-index: -1;
    margin-bottom: 50px;
    padding-bottom: 50px;
  }
  &__bg{
    width: 1920px;
  }
}










@import 'media';