@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding: 40px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  display: flex;
  align-items: center;
  font-size: 16px;

  &__img-title {
    padding-left: 20px;
    @extend %rubik-500;
    font-size: 36px;
    font-weight: 58px;
    color: #436372;
  }
}

.menu {
  &__list {
    display: flex;
    align-items: center;
  }

  &__list-item+.menu__list-item {
    padding-left: 35px;
  }

  &__list-link {
    color: #436372;
    padding: 0 2px 1px;
    transition: all .3s;
    @extend %rubik-500;

    &:hover {
      color: $accent;
      font-size: 18px;
      border-bottom: 1px solid $accent;
    }
  }

  &__menu__list-link--active {
    color: $accent;
  }
}

.user-nav {
  display: flex;
  align-items: center;

  &__link {
    position: relative;
  }

  &__link-sourch {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-bottom: 1px;
    background-color: #edf1f4;
  }


  &__link+.user-nav__link {
    padding-left: 60px;
  }

  &__num {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: red;
    top: -9px;
    right: -9px;
    font-size: 10px;
    color: $defolt;
    text-align: center;
    line-height: 18px;
  }
}

.footer {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-top {
  padding: 75px 0 70px;
  border-bottom: 1px solid #dae4e9;
  display: flex;

  &__contact {
    margin-right: 100px;
  }

  &__nav {
    width: 170px;
    margin-right: 130px;
  }

  &__item-form {
    width: 300px;
  }

  &__logo {
    width: 220px;
    margin-bottom: 25px;
  }

  &__adress,
  &__phone,
  &__email {
    display: block;
    line-height: 24px;
    margin-bottom: 10px;
    @extend %rubik-400;
    font-size: 14px;
    color: #7b7b7b;
  }

  &__title {
    margin-bottom: 5px;
    @extend %dmsans-700;
    color: #1f2044;
    font-size: 16px;
    line-height: 55px;
    text-transform: uppercase;
  }

  &__link {
    line-height: 32px;
  }

  &__text {
    font-size: 14px;
    line-height: 24px;
    @extend %rubik-400;
    margin-bottom: 35px;
    margin-top: 10px;
  }

  &__form {
    display: flex;
  }

  &__form-input {
    background-color: $bg;
    max-width: 170px;
    width: 100%;
    border: none;
    padding: 12px 10px 12px 15px;

    &::placeholder {
      @extend %dmsans-400;
      font-size: 12px;
      color: #234969;
    }
  }

  &__form-btn {
    background-color: $accent;
    border: none;
    color: #000;
    @extend %dmsans-400;
    font-size: 14px;
    padding: 12px 18px 14px 16px;
    cursor: pointer;
  }
}

.footer-bootom {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__copy {
    margin: 35px 10px;
    font-size: 14px;
    line-height: 32px;
    @extend %rubik-400;
  }

  &__list {
    display: flex;
  }

  &__link+.footer-bootom__link {
    margin-left: 30px;
  }
}

.top-slider {
  background-color: #fcd7b6;
  padding-top: 85px;
  height: 800px;

  &__item {
    display: flex;
    justify-content: space-between;
    max-height: 800px;
  }

  &__content {
    padding-left: 220px;
    padding-top: 110px;
  }

  &__title {
    max-width: 420px;
    font-size: 72px;
    line-height: 70px;
    margin-bottom: 40px;
    color: $defolt;
    @extend %rubik-500;
  }

  &__text {
    max-width: 315px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 40px;
    @extend %rubik-400;
    color: #436372;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: $accent;
    font-size: 15px;
    line-height: 12px;
    color: #fff;
    @extend %rubik-500;
    padding: 21px 20px 22px;
    width: 200px;
    height: 60px;

    &__button-img {
      width: 24px;
    }
  }

  &__item {
    display: flex !important;
    justify-content: space-between;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    li {
      padding: 0 5px;

      button {
        padding: 0;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        background-color: #fde3cc;
        @extend %rubik-500;
        font-size: 11px;
        line-height: 9px;
        color: $defolt;
      }

      &.slick-active {
        button {
          background-color: #fff;
          border-radius: 50%;
        }

      }
    }
  }

}
























@import 'media';